<div>
    <div class="text-center my-5">
        <h1 class="display-5 fw-bolder">My Projects</h1>
    </div>

    <div class="wrapper">
        <div class="container">
            <input type="radio" name="slide" id="c1" checked>
            <label for="c1" class="card">
                <div class="row">
                    <div class="icon">1</div>
                    <div class="description bg-light text-center">
                        <h4>UniCademy</h4>
                        <p class="bg-white">a learning platform in slovak language</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c2" >
            <label for="c2" class="card">
                <div class="row">
                    <div class="icon">2</div>
                    <div class="description bg-light text-center">
                        <h4>Quizerro</h4>
                        <p>a revolutionary quiz app</p>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>